<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container col-12">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<img src="/img/logo.png" width="150" height="70" alt="">
		  	</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/"> Página Inicial</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Sobre</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dish/dishes">Pratos</a>
					</li>
			    </ul>
			    <div sec:authorize="!isAuthenticated()">
			    	<a class="new-nav-link1" href="/user/login">Entre</a>
			    	<span style="color: rgba(255,255,255,.5)"> 	ou </span>
			    	<a class="new-nav-link2" href="/user/register">Cadastre-se</a>
			    </div>
			    <div sec:authorize="isAuthenticated()" class="d-inline" style="color: rgba(255,255,255,.5);">
			    	<h6 class="h6 d-inline">Bem Vindo | </h6>
			    	<div class="dropdown d-inline">
					    <a href="#" class="dropdown-toggle trans" data-toggle="dropdown" style="color:inherit;">Opções</a>
					    <div class="dropdown-menu dropdown-menu-right">
					    	<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/pedido/pedidosUser}" class="dropdown-item">Histórico de Pedidos</a>
					        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user/update}" class="dropdown-item">Atualizar Informações</a>
					        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user/delete}" class="dropdown-item">Deletar Conta</a>
					        <a href="/logout" class="dropdown-item">Sair</a>
					    </div>
					</div>
			    </div>
			</div>
		</nav>
	
		<div class="row w-100 back-with-img" style="padding:38px 0;margin-left:0px;">
			<div class="col-md-3"></div>
			<div class="col-md-6 text-center">
				<img class="img-fluid" src="/img/logo_com_slogan.png" alt="logo yukihira">
			</div>
		</div>
		<div class="row w-100">
			<div class="row" style="margin-top:10px;">
				<div class="col-md-6 text-center">
					<img class="shadow p-3 mb-5 bg-white rounded" src="/img/interior-rest-1.jpg" alt="interior restaurante 1">
				</div>
				<div class="col-md-5 text-center">
					<p class="texto">O Yukihira é um dos mais tradicionais restaurantes japoneses do Ceará. Localizado 
					em Quixadá, une o melhor da comida japonesa com um ambiente calmo e relaxante e um atendimento 
					impecável.</p>
				</div>
			</div>
			<div class="row" style="margin-top:10px;">
				<div class="col-md-1"></div>
				<div class="col-md-5 text-center">
					<p class="texto">Nosso cardápio oferece a você variedade, qualidade e tradição. Aqui você encontra os 
					melhores pratos da cozinha japonesa preparados com ingredientes selecionados.</p>
				</div>
				<div class="col-md-6 text-center">
					<img class="shadow p-3 mb-5 bg-white rounded" src="/img/interior-rest-2.jpg" alt="interior restaurante 2">
				</div>
			</div>
		</div>
	
	
		<footer class="page-footer font-small cyan darken-3 bg-dark" style="color:white;">
		  <div class="container-fluid" style="max-height:80px;overflow:hidden;">
		    <div class="row text-center">
		      <div class="col-md-12 py-5">
		        <div class="flex-center">
		          <a class="fb-ic">
		            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="tw-ic">
		            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="gplus-ic">
		            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="li-ic">
		            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="ins-ic">
		            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="pin-ic">
		            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
		          </a>
		        </div>
		      </div>
		    </div>
		  </div>
		
		  <div class="footer-copyright text-center py-3">© 2019 Copyright:
		    <a href="https://www.linkedin.com/in/caio-weliton-6ba0a9173/"> Caio Weliton</a>
		  </div>
		  
		</footer>
	</div>
	
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>