<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:th="http://www.thymeleaf.org" class="h-100 w-100">
<head>
<meta charset="UTF-8">
<title>Dish Register</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="h-100">
	<div class="container col-12">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<img src="/img/logo.png" width="150" height="70" alt="">
		  	</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/"> Página Inicial</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">Sobre</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Pratos</a>
					</li>
			    </ul>
			    <div>
			    	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/dish/register}">
			    		<button type="button" class="btn btn-success btn-large btn-block" style="max-width:380px;color:white;">
			    			<span class="fa fa-plus-circle"></span> Adicionar Prato </button></a>
			    </div>
			    <div sec:authorize="!isAuthenticated()">
			    	<a class="new-nav-link1" href="/user/login">Entre</a>
			    	<span style="color: rgba(255,255,255,.5)"> 	ou </span>
			    	<a class="new-nav-link2" href="/user/register">Cadastre-se</a>
			    </div>
			    <div sec:authorize="isAuthenticated()" class="d-inline" style="color: rgba(255,255,255,.5);">
			    	<h6 class="h6 d-inline">Bem Vindo | </h6>
			    	<div class="dropdown d-inline">
					    <a href="#" class="dropdown-toggle trans" data-toggle="dropdown" style="color:inherit;">Opções</a>
					    <div class="dropdown-menu dropdown-menu-right">
					    	<a th:href="@{/pedido/pedidosUser}" class="dropdown-item">Histórico de Pedidos</a>
					        <a th:href="@{/user/update}" class="dropdown-item">Atualizar Informações</a>
					        <a th:href="@{/user/delete}" class="dropdown-item">Deletar Conta</a>
					        <a href="/logout" class="dropdown-item">Sair</a>
					    </div>
					</div>
			    </div>
			</div>
		</nav>
		
		
		
		
		<div class="container-fluid d-flex w-100">
			<!-- Grid row -->
			<div class="row w-100">
				<div class="col-lg-8 col-md-12" style="margin-top: 5px;">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-sm-6 mb-4 text-center" th:each="dish : ${listdishes}">
						    <!--Modal: Name-->
						    <div class="modal fade" th:id="'modal'+${dish.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						      <div class="modal-dialog modal-lg" role="document">
						        <!--Content-->
						        <div class="modal-content" th:object="${item}">
						          <!--Body-->
						          <div style="max-height:450px; overflow-y: scroll;" class="modal-body mb-0 p-0">
						          	
						            <div class="embed-responsive z-depth-1-half ">
						            	<button style="position:absolute;right:5px;color:black;" type="button" class="close" data-dismiss="modal">&times;</button>
						              	<img style="max-width:800px;" class="img-fluid z-depth-1" th:src="@{'/images/dish/'+${dish.id}+.png}" alt="prato">
						            </div>
						            <div>
					            		<h2 class="name" th:text="${dish.name}"></h2>
					            		<h3 class="price" th:text="${dish.price}"></h3>
					            		<p th:text="${dish.description}">
					            	</div>
						          </div>
						
						          <!--Footer-->
						          <div class="modal-footer">
						          	
						          	<div>
						          		<a th:href="@{/dish/update/{id}(id=${dish.id})}"><button type="button" class="btn btn-outline-info"><span class="fa fa-refresh"></span> Atualizar </button></a>
						          		<a th:href="@{/dish/delete/{id}(id=${dish.id})}"><button type="button" class="btn btn-outline-danger"><span class="fa fa-trash"></span> Remover </button></a>
						          	</div>
						            
						            <div>
							            <button id="decrease" class="btn btn-light d-inline decrease" disabled><h2>-</h2></button>
							            <input style="max-width:50px;text-align:center;" min="1" type="number" class="d-inline qtd" value="1">
							            <button id="increase" class="btn btn-light increase"><h3>+</h3></button>
						            </div>
						            
						            <a th:href="'/pedido/add-item-to-shoppingcart/'+${dish.id}+'/1'" style="color:white;" class="btn btn-danger btn-rounded btn-lg pull-right add-item">Adicionar R$ <span class="price-calculated" th:text="${dish.price}"></span></a>
						
						          </div>
						
						        </div>
						        <!--/.Content-->
						
						      </div>
						    </div>
						    <!--Modal: Name-->
						
						    <a>
						    	<img style="max-width: 250px; max-height: 200px" class="img-fluid img-thumbnail" th:src="@{'/images/dish/'+${dish.id}+.png}" alt="prato"
						        data-toggle="modal" th:attr="data-target='#modal'+${dish.id}">
						        <div>
						        	<span style="font-weight:bold;font-size:20px;margin-right:10%;" th:text="${dish.name}"></span>
						      		<span style="font-weight:bold;font-size:20px;color:red;">R$ <span th:text="${dish.price}"></span></span>
						        </div>
							</a>
						  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md mh-75" style="margin-top: 5px;background-color: #eee;">
					<div style="height:30px;margin-bottom:10px;">
						<div class="text-center">
							<h2 class="bg-info" style="color:white;">Lista de Itens</h2>
							<div class="table-overflow">
								<table style="max-height:420px;" class="table" id="items-order">
									<thead>
										<tr>
											<th scope="col">Nome</th>
											<th scope="col">Quantidade</th>
											<th scope="col">Valor</th>
											<th scope="col">Remover</th>
										</tr>
									</thead>
									<tbody id="tbody">
										<tr th:each="item,iterStat : ${listitems}">
											<td style="display:none;" th:text="${iterStat.index}"></td>
											<td th:text="${item.dish.name}"></td>
											<td th:text="${item.quantity}"></td>
											<td th:text="${#numbers.formatDecimal(item.totalPrice, 0, 'COMMA', 2, 'POINT')}"></td>
											<td><a th:href="@{/pedido/delete-item-from-shoppingcart/{index}(index=${iterStat.index})}"><button type="button" class="btn btn-outline-danger"><span class="fa fa-trash"></span></button></a></td>
										</tr>
									</tbody>
								</table>
								<div th:if="${#lists.isEmpty(listitems)}" id="nothing-selected">Nenhum item selecionado</div>
							</div>
							<div th:if="${not #lists.isEmpty(listitems)}">
								<h2 style="font-weight:bold;">Valor Total <span style="color:red;">R$ <span th:text="${#numbers.formatDecimal(totalPedido, 0, 'COMMA', 2, 'POINT')}"></span></span></h2>
								<input id="address" type="text" class="form-control" style="margin-bottom: 5px;" placeholder="Digite aqui o endereço de entrega" title="Caso não informe será usado o endereço de cadastro do usuário">
								<a th:href="@{/pedido/save/pattern}" style="bottom:0;max-width:385px;color:white;" class="btn btn-success btn-large btn-block" id="finish-order"><span class="fa fa-shopping-cart"></span> Finalizar pedido</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="page-footer font-small cyan darken-3 bg-dark" style="color:white;margin-top:5px;">
		  <div class="container-fluid" style="max-height:80px;overflow:hidden;">
		    <div class="row text-center">
		      <div class="col-md-12 py-5">
		        <div class="flex-center">
		          <a class="fb-ic">
		            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="tw-ic">
		            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="gplus-ic">
		            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="li-ic">
		            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="ins-ic">
		            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="pin-ic">
		            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
		          </a>
		        </div>
		      </div>
		    </div>
		  </div>
		
		  <div class="footer-copyright text-center py-3">© 2019 Copyright:
		    <a href="https://www.linkedin.com/in/caio-weliton-6ba0a9173/"> Caio Weliton</a>
		  </div>
		  
		</footer>
	</div>
	
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			
			$(".qtd").change(function(){
				var btnDecrease = $(this).parent().find('.decrease');
				if(parseInt($(this).val()) <= 1) {
					btnDecrease.attr("disabled", true);
				} else {
					btnDecrease.attr("disabled", false);
				}
				var price = parseFloat($(this).parent().parent().parent().find('.price').text());
				var qtd = parseInt($(this).parent().find(".qtd").val());
				$(this).parent().parent().find('.price-calculated').text((price * qtd).toFixed(2));
				var href = $(this).parent().parent().find('.add-item').attr('href');
				href = ('href', href.substring(0, href.lastIndexOf("/")));
				href += "/"+qtd;
				$(this).parent().parent().find('.add-item').attr('href', href);
				console.log(href);
	        });
	        $(".decrease").click(function(){
	        	var qtdElement = $(this).parent().find(".qtd");
	        	var qtdValue = parseInt(qtdElement.val());
	        	qtdElement.val(qtdValue-1);
	        	qtdElement.change();
	            
	        });
	        $(".increase").click(function(){
	        	var qtdElement = $(this).parent().find(".qtd");
	        	var qtdValue = parseInt(qtdElement.val());
	        	qtdElement.val(qtdValue+1);
	        	qtdElement.change();
	        });
	        $("#address").change(function(){
	        	var address = $("#address").val();
	        	var href = $("#finish-order").attr('href');
	        	href = ('href', href.substring(0, href.lastIndexOf("/")));
	        	href += "/"+address;
	        	$("#finish-order").attr('href', href);
	        	console.log(href);
	        });
	    });
		
	</script>
	
</body>
</html>