<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:th="http://www.thymeleaf.org" class="h-100 w-100">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="h-100">
	<div class="container col-12 h-100">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<img src="/img/logo.png" width="150" height="70" alt="">
		  	</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/"> Página Inicial</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">Sobre</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dish/dishes">Pratos</a>
					</li>
			    </ul>
			    <div sec:authorize="!isAuthenticated()">
			    	<a class="new-nav-link1" href="/user/login">Entre</a>
			    	<span style="color: rgba(255,255,255,.5)"> 	ou </span>
			    	<a class="new-nav-link2" href="/user/register">Cadastre-se</a>
			    </div>
			    <div sec:authorize="isAuthenticated()" class="d-inline" style="color: rgba(255,255,255,.5);">
			    	<h6 class="h6 d-inline">Bem Vindo | </h6>
			    	<div class="dropdown d-inline">
					    <a href="#" class="dropdown-toggle trans" data-toggle="dropdown" style="color:inherit;">Opções</a>
					    <div class="dropdown-menu dropdown-menu-right">
					        <a th:href="@{/user/update}" class="dropdown-item">Atualizar Informações</a>
					        <a th:href="@{/user/delete}" class="dropdown-item">Deletar Conta</a>
					        <a href="/logout" class="dropdown-item">Sair</a>
					    </div>
					</div>
			    </div>
			</div>
		</nav>
		<div class="container col-md-4 wrapper-form top-5-percent">
			<div class="row justify-content-center">
				<h2>Entrar</h2>
			</div>
			<div class="row">
				<div class="col">
					<form method="POST">
						<div class="form-group">
							<label for="login">E-mail</label>
						    <input type="text" class="form-control" name="username" id="login" placeholder="Digite seu email">
						</div>
						<div class="form-group">
							<label for="pass">Senha</label>
						    <input type="password" class="form-control" id="pass" name="password" placeholder="Digite sua senha">
						</div>
						<input type="submit" class="btn btn-primary btn-large btn-block" value="Login">
						<div class="col-md-12 ">
                        	<div class="login-or">
                            	<hr class="hr-or">
                            	<span class="span-or">ou</span>
                            </div>
                        </div>
                        <div class="form-group">
                        	<p class="text-center">Não possui uma conta? <a href="/user/register">Criar</a></p>
                        </div>
					</form>
				</div>
			</div>
		</div>
		<footer class="page-footer font-small cyan darken-3 bg-dark" style="color:white;margin-top:5px;">
		  <div class="container-fluid" style="max-height:80px;overflow:hidden;">
		    <div class="row text-center">
		      <div class="col-md-12 py-5">
		        <div class="flex-center">
		          <a class="fb-ic">
		            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="tw-ic">
		            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="gplus-ic">
		            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="li-ic">
		            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="ins-ic">
		            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
		          </a>
		          <a class="pin-ic">
		            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
		          </a>
		        </div>
		      </div>
		    </div>
		  </div>
		
		  <div class="footer-copyright text-center py-3">© 2019 Copyright:
		    <a href="https://www.linkedin.com/in/caio-weliton-6ba0a9173/"> Caio Weliton</a>
		  </div>
		  
		</footer>
	</div>
	
	
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>